.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.nav-bar {
  position: fixed;
  top: 0;
}
.explore-everything {
  cursor: pointer;
}



.loader-box {
  width: 100%;
  height: 100%;
  background-color: #ffffff33;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
}
.loader-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




