*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    padding: 20px;
    box-shadow: 1px 10px 18px 18px #e4e4e4;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.container form input{
    width: 100%;
    height: 2rem;
    margin: 0 0 1rem 0;
    border-radius: 2px;
    border: 1px solid rgb(85, 84, 84);
    cursor: pointer;
    background-color: white;
    padding: 5px;
    outline: 1px solid #ffffff;
}
.container form label{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container form button{
    width: 100%;
    background-color: #0496ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.already{
    color: rgb(96, 93, 93);
}
.already a{
    color: #0496ff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flash-message{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}
.message{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}